/* Regole Reset */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul, ol, menu{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}


/* LAYOUT */
.conteiner {
    max-width: 1024px;
    margin: 0 auto;
}

body{
    background-color: rgba(177, 190, 197, 0.308);
}


/* utility */
.bg-color-lblue{
    background-color: rgb(0, 151, 201);
}

.bg-color-purple{
    background-color: rebeccapurple;
}

.bg-color-green{
    background-color: rgb(141, 187, 168);
}

.bg-color-orange{
    background-color: rgb(255, 153, 0);
}

.bg-color-pink{
    background-color: palevioletred;
}

.bg-color-greenyellow{
    background-color: greenyellow;
}

.margin-left-50{
    margin-left: 50px;
}

.dinline-block{
    display: inline-block;
}


/* Header */
.header-box{
    height: 120px;
    background-color: white;
}

.logo-img{
    width: 80px;
}

.title-header{
    font-size: 100px;
    display: inline-block;
    text-align: center;
}

/* Main */
.maincontent{
    padding: 40px 10px
}

.button-box{
    background-color: white;
    padding: 10px;
    margin-bottom: 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.add-section-button, .add-task-button{
    display: inline-block;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

.add-task-button{
    background-color: rgb(0, 132, 255);
    color: white;
}

.add-section-button{
    color: rgb(112, 110, 110);
    background-color: white;
}

.task-box{
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.check-mark, .cross-mark{
    font-size: 25px;
    padding: 5px 10px;  
    border-radius: 50%;
}

.check-mark{
    color: rgb(0, 107, 32);
    border: solid 1px rgb(0, 107, 32);
}

.cross-mark{
    color: rgb(107, 0, 0);
    border: solid 1px rgb(107, 0, 0);
}

h2{
    font-size: 40px;
    margin-bottom: 10px;
}

.main-text{
    font-size: 30px;
    margin-left: 5px;
}

/* Regpòe liste */
li{
    margin-bottom: 20px;
}

ul{
    margin-bottom: 50px;
}

.topic-box{
    color: white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
}